@import '../globals/declarations';

@import '../globals/globals';

@import '../shared/keyframes';

@import '../shared/app';

@import '../shared/sidebar';

@import '../shared/content';

@import '../shared/nodata';

@import '../shared/animationLoading';

@import '../shared/FullScreenList';

@import '../shared/AddonNotAvailable';

@import './tags';

@import './picker';

@import './live';

@import './footer';

html,
body,
#app,
.Content {
  overflow: hidden;
  min-width: 320px;
}

#app {
  
  .Content,
  .Content.minified,
  .Main{
    width: 100%;
  }

  .Main{

    .ContentBody {

      h1 {
        text-align: center;
        color: #202124;
        font-size: 19px;
        font-weight: 400;
        line-height: 30px;
      }

      .main-title{
        margin: 20px 0;
        letter-spacing: 0.189rem;
      }

      img{
        display: block;
        margin: 20px auto 30px auto;
      }
  
      .boxes {
        text-align: center;
  
        .box {
          display: inline-block;
          width: 25%;
          margin: 25px 2.5%;
          border-radius: 5px;
          box-shadow: 0px 0px 1.5px rgba(69,69,69,.55);//$dark-green;
          box-sizing: border-box;
          padding: 0 10px;
          height: 50px;
          line-height: 50px;
          transition-duration: $default_transition;
          text-align: center;
          color: #212529;
          font-size: 0.87rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
  
        .box:hover {
          cursor: pointer;
          box-shadow: 0px 0px 8px rgba(69,69,69,.55);//$dark-green;
        }
      }

      .link {
        width: 230px;
        margin: 20px auto;
        display: block;
        box-sizing: border-box;
        padding: 10px 20px;
        text-align: center;
        color: #212529;
        font-size: 0.87rem;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid $border-color;
        background-color: $dark-green;
        color: $white;
        box-shadow: 0px 0px 7px transparent;
        transition-duration: $default_transition;
      }
  
      .link:hover {
        box-shadow: 0px 0px 7px $dark-green;
      }
    }
  }
  .Content{
    height: 100vh;
  }

  .ContentStaticHeight{
    overflow-y: auto;
    max-height: calc(100% - 50px);
    height:auto;
    padding-bottom: 20px;
  }

  .loading-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    z-index: 1;
    background: transparent;
  }

  .loading-animation:after {
    content: '';
    width: 40%;
    height: 4px;
    background: linear-gradient(to right, $white 0%, $red 30%, $red 70%, $white 100%);
    display: block;
    position: absolute;
    top: 0;
    animation: animateLoadingChatDiv 1500ms linear infinite;
  }

  /**/
  .SideBar {
    width: $popupMenuWidth;
  }

  .SideBar.SideBar-min {
    width: $popupMenuWidth-min;
  }

  .SideBar.SideBar-min:hover {
    width: $popupMenuWidth;
  }

  .Content {
    width: calc(100% - #{$popupMenuWidth});
    left: $popupMenuWidth;
  }

  .Content.Content-min {
    width: calc(100% - #{$popupMenuWidth-min});
    left: $popupMenuWidth-min;
  }

  .Content.minified {
    left: 0;
  }
}

