@import './colors.scss';

@import './media.scss';

@import './globals.scss';

$default_transition: 350ms;

$default_transition_popup_boxes: 200ms;

$menu-messages-width: 150px;

$menu-messages-width-min: 150px;