
// MEDIA

$media-break: 720px;

// Dashboard

$dashboard_menu-width: 250px;

$dashboard_menu-width-min: 50px;

$popup_height: 500px;

$popup_box_width: 500px;

$popup_box_width-minified: 250px;

$dashboard_header-height: 60px;

// Popup

$popupMenuWidth: 180px;

$popupMenuWidth-min: 50px;


// MEDIA

$media-break: 720px;

// MENU WIDTH

$menu-width: 200px;

// POPUP
$popup-media-break: 600px;
$popup-width-xl: 600px;
$popup-width-s: 350px;
$popup-height: 500px;