@import '../globals/declarations.scss';

body {
  overflow-x: hidden;
}

#app {
  overflow-x: hidden;
  overflow-y: auto;

  #app-holder {
    height: $popup_height;
  }

  .website--home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: flex-start;
    overflow-x: hidden;
  }
}
