#app{
    width: 100%;
    overflow-x:hidden;

    .Content{
        overflow: hidden;
    }

    .website--last{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;

        .analyser{
            width: 100%;

            .box{
                @media screen and (min-width: $media-break) {
                    display: inline-block;
                    width: calc(33% - 22px);
                    float: left;
                }

                display: block;
                width: calc(100% - 20px);
                margin: 30px 10px;
                border-radius: 5px;
                border:1px solid $border-color;
                box-sizing: border-box;
                padding: 20px 10px;
                overflow: hidden;
                float: none;

                .content{

                    .value,
                    .text{
                        line-height: 0.97rem;
                    }

                    .value{
                        box-sizing: border-box;
                        padding: 10px;
                        margin-right: 10px;
                        font-size: 2.4rem;
                        color: #72777a;
                    }
                    .text{
                        width: 100%;
                        color: $dodgerblue;
                        font-size: 0.932rem;
                        font-weight: 600;
                    }
                }
            }
        }

        .copied{
            animation: scaleItCopyToClipboard 700ms infinite ease-in-out;
        }
        
        .code-box-holder{
            width: 100%;
            border-radius: 5px;
            margin: 10px 0;
            box-sizing: border-box;
            overflow: hidden;

            h1{
                border-bottom: 1px solid $border-color;
                padding: 20px;
                position: relative;
                z-index:1;
            }

            .code-box{
                width: 100%;
                margin: 10px 0;
                border-radius: 5px;
                border:1px solid $border-color;
                box-sizing: border-box;
                padding: 10px;
                overflow: hidden;
                display: inline-block;
                position: relative;
                min-height: 270px;
                // background-color: rgba(60,179,113,.15);
                background-color: rgba(222, 222, 222, 0.35);

                .single-code-line {
                    line-height: 20px;
                    letter-spacing: 0.12rem;
                }
    
                .export-options{
                    position: absolute;
                    right:0;
                    top:0;
                    width: 60px;
                    height: 100%;
                    background-color: rgb(59,59,59);
                    padding-top: 10px;
                    z-index:2;
    
                    i{
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        border-radius: 50%;
                        background-color: transparent;
                        display: block;
                        margin: 5px auto;
                        color: $white;
                        transition-duration: $default_transition;
                    }
    
                    i:hover{
                        background-color: rgb(122,122,122);
                        cursor: pointer;
                    }
                }
            }
        }

        .code-preview{
            width: 100%;
            height: auto;
            overflow: hidden;

            .code{
                box-sizing: border-box;
                padding:20px;
            }
        }
    }

    .export-options-global{
        width: 100%;
        min-height: 60px;

        .buttons{
            height: auto;
            overflow: auto;
            margin: 10px 0;
    
            i{
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-radius: 50%;
                background-color: transparent;
                display: block;
                margin: 15px;
                font-size: 1.23rem;
                transition-duration: $default_transition;
                border: 1px solid transparent;
            }
    
            i:hover{
                background-color: rgb(242,242,242);
                border: 1px solid $border-color;
                cursor: pointer;
            }
        }
    }

    .h1-box{
        width:calc(100% - 40px);
        border-radius: 5px;
        margin: 20px 10px;
        border:1px solid $border-color;
        box-sizing: border-box;
        overflow: hidden;

        h1{
            border-bottom: 2px solid $border-color;
            padding: 20px;
            background-color: #F9F9F9;
            position: relative;
            z-index:1;
        }

        h1:before{
            position: absolute;
            content: '';
            left: 25px;
            bottom: -15px;
            width: 0; 
            height: 0; 
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid #F9F9F9;
            z-index: 2;
        }

        h1:after{
            position: absolute;
            content: '';
            left: 25px;
            bottom: -17px;
            width: 0; 
            height: 0; 
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid $border-color;
            z-index: 1;
        }
    }
}
